.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
}

.button {
  width: 100%;
  background-color: #646cff;
  color: white;
  padding: 0.75em 1.2em;
}

.button:hover {
  background-color: #535bf2;
}
